{%  load static %}
<header class="w-full shadow" style="background-color:rgb(165, 28, 36);">
   <div class="container mx-auto flex flex-col sm:flex-row items-center justify-between py-4 px-6">
    <div class="flex items-center mb-4 sm:mb-0">
     <div class="text-white px-4 py-2 rounded">
      <span class="font-bold">
       KL University
      </span>
     </div>
    </div>
    <div class="w-full sm:w-auto text-center">
     <h1 class="text-xl font-semibold text-white">
      Student Result and Exit Report System
     </h1>
    </div>
   </div>
  </header>